  
.keyword  { color: #d73a49; }   
.def      { color: #6f42c1; }   
.operator { color: #00ff00; }   
.property { color: #005cc5; }   
.string   { color: #00ff00; }   
.number   { color: #e36209; }   

* { box-sizing: border-box; }
.screen { color: grey;}
body { 
  margin: 0;
  padding: 1em;
  min-height: 100vh;
  background-color: #101918;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-size: 4.5vmin;
  font-family: monospace;
}
p{
  color: #333;
  cursor: pointer;
}
input{
  border: 1px solid #00FF00;
}
a:hover {
  color: #00FF00; /* Terminal green color */
  transform: rotate(-2deg) scale(1.05); /* Add a small scale and rotation */
  transition: transform 0.2s ease, color 0.2s ease; /* Smooth transition */
}
